* {
  box-sizing: border-box;
}

.container {
  padding: 16px;
  background-color: white;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

span {
  color: rgb(70, 70, 208);
}

.registerbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
