.pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2 ease;
  position: relative;
}

.pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

.pro img {
  width: 100%;
  border-radius: 20px;
}

.pro .des {
  text-align: start;
  padding: 10px 0;
}

.pro .des span {
  color: #606063;
  font-size: 12px;
}

.pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
